.main {
  position: relative;
  height: 100%;
}

.squareViewportOverlay {
  position: absolute;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
