@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/kreon/v32/t5tuIRIUKY-TFHXHc2idrq7o.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/kreon/v32/t5tuIRIUKY-TFHXHc2idrq7o.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}

.wrap {
  height: 100%;
  display: grid;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}

.nav {
  display: grid;
  grid-gap: 0.2em;
  font-size: 1.25em;
  padding: 1em 0.5em;
  font-weight: 600;
  font-family: 'Kreon', sans;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}

.nav > * {
  display: grid;
  padding: 0.2em;
  pointer-events: all;
  justify-items: center;
  border-width: 1.5pt;
  border-style: outset;
  border-color: #AAAAAA;
  background-color: black;
  border-radius: 0.25em;
  cursor: pointer;
}

.active {
  border-width: 1.5pt;
  border-style: inset;
  border-color: #DD3377;
  background-color: #300000;
}

.close {
  pointer-events: all;
  justify-items: center;
  color: #DD3377;
  padding: 1em 2em;
  display: grid;
}
.core {
  padding: 1em;
  overflow: scroll;
  pointer-events: all;
  grid-column: 1 / -1;
  word-wrap: break-word;
  grid-template-rows: auto auto auto auto 1fr;
  display: grid;
}
