.textWrap {
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr;
}

.textCore {
  color: #eee;
  z-index: 1;
  grid-row: 1;
  grid-column: 1;
}

.textOther {
  grid-row: 1;
  grid-column: 1;
}
