:host {
  align-items: start;
  cursor: pointer;
  button {
    background-color: var(--icon-button-color, var(--dark-main-color));
    padding: calc(var(--icon-button-scale, 1) * var(--gap-tiny));
    transform: var(--icon-button-transform, none);
    border: var(--thin-glass-border);
    border-radius: 50%;
    transition: 0.05s;
    height: unset;
  }
}
:host(*[close=true]) {
  button {
    background-color: var(--dark-reject-color);
  }
}
:host(*[delete=true]) {
  button {
    background-color: var(--dark-reject-color);
  }
}
