.wrap {
  height: 100%;
  display: grid;
  pointer-events: none;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100% auto;
}

.navSpan {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
}

.core {
  padding: 1em;
  grid-column: 1;
  grid-row: 1 / -1;
  overflow: scroll;
  pointer-events: all;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.8);
  grid-template-rows: auto auto auto auto 1fr;
  display: grid;
}

.core .header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.core .count {
  gap: 0.5em;
  display: grid;
  font-size: 1.5em;
  justify-items: right;
  justify-content: end;
  grid-template-columns: auto auto;
}

.toolbar {
  grid-row: 1;
  grid-column: 2;
  padding: 0.8em;
  font-size: 16px;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
