.textWrap {
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: min(380px, 50vw) 1fr;
}

.textHide > .textCore {
  transform: translateX(-100%);
}

.invalid {
  height: 100%;
  display: grid;
  grid-auto-rows: auto;
  justify-items: center;
  justify-content: center;
  grid-template-columns: auto;
}
.invalid > * {
  padding: 5em;
}
.invalid a {
  color: #79c0ff;
}

.textCore {
  color: #eee;
  z-index: 1;
  grid-row: 1;
  grid-column: 1;
  transition: all 1s;
  pointer-events: none;
}

.textOther {
  grid-row: 1;
  grid-column: 1 / -1;
}
