.static {
  cursor: default;
}

.static:hover {
  background: transparent;
}

.clickable {
  cursor: pointer;
}

.wrapColumn {
  grid-template-columns: auto auto auto;
  justify-content: start;
  justify-items: left;
  display: grid;
  gap: 0.25em;
}
