.wrap {
  height: 100%;
  display: grid;
  pointer-events: none;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 150px auto 100%;
  transform: translate(-150px);
}

.core {
  padding: 1em;
  grid-column: 3;
  grid-row: 1 / 3;
  overflow: scroll;
  pointer-events: all;
  word-wrap: break-word;
  outline: 1px solid var(--theme-glass-edge);
  background-color: var(--dark-glass);
  border-radius: var(--radius-0001);
}

.nav {
  grid-row: 1;
  grid-column: 1;
  padding: 0.8em;
  font-size: 16px;
  pointer-events: all;
  padding-top: calc(1.5*var(--theme-gap-tiny));
  outline: 1px solid var(--theme-glass-edge);
  background-color: var(--dark-glass);
  border-radius: var(--radius-0001);
}
