:host {
  --a11y-collapse-horizontal-padding: 0px;
  --a11y-collapse-padding-top: 0px;
  --a11y-collapse-padding-bottom: 0px;
  --a11y-collapse-disabled-heading-color: inherit;
  --a11y-collapse-heading-color: inherit; 
  --a11y-collapse-border-between: none;
  --simple-icon-color: inherit;
  font-family: inherit;
  border: none;
  margin: 0;
  height: 100%;
  display: grid;
  gap: 0 var(--gap-tiny);
  grid-auto-flow: column;
  grid-template-columns: auto 1fr; 
  grid-template-rows: auto 1fr;
  justify-items: stretch;
  > button {
    display: contents;
    > div#heading {
      display: contents;
      > #text, > #expand {
        margin: 0;
        display: grid;
        align-items: start;
      }
      > #text {
        padding-bottom: var(--gap-medium);
        justify-items: start;
        grid-column: 2;
        grid-row: 1;
      }
      > #expand {
        height: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: auto 1fr;
      }
    }
  }
  > simple-tooltip {
    display: grid;
    position: static;
    align-items: start;
    justify-items: end;
    --simple-tooltip-margin: 0;
    --simple-tooltip-width: auto;
    --simple-tooltip-padding: var(--gap-tiny);
    grid-column: 1 / -1;
    grid-row: 1;
  }
  > div#content {
    border-top: none;
    grid-column: 2;
    grid-row: 2;
    transition: transform 0s ease 0s;
    > div#content-inner {
      height: 100%;
    }
  }
}
:host(:not([expanded])) {
  > button {
    > div#heading {
      > #expand {
        grid-column: 1;
        grid-row: 1 / -1;
        transform: none;
        width: unset;
      }
    }
  }
}
:host([expanded]) {
  > button {
    > div#heading {
      > #expand {
        position: relative;
        grid-column: 1;
        grid-row: 1 / -1;
      }
      > #expand:before {
        width: 0px;
        content: ' ';
        top: 24px;
        position: absolute;
        border: 1px solid white;
        height: calc(100% - 24px);
        border-image: var(--glass-gradient) 1 100%;
      }
    }
  }

}

slot[name=content]::slotted(div) {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
