.wrapper {
  flex: 1;
  height: 100%;
  position: relative;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.full {
  position: relative;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.retrieving {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
