name: Github Pages
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    environment: lsp-idc-minerva
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 21
      - uses: pnpm/action-setup@v2.0.1
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: true
      - name: Build with pnpm
        run: |
          pnpm run pages
      - name: Push artifact
        env:
          PAT: ${{ secrets.PAT }}
          EMAIL: ${{ secrets.EMAIL }}
          NAME: ${{ secrets.NAME }}
        run: |
          export GITHUB_TOKEN=$PAT
          git config --global user.email "$EMAIL"
          git config --global user.name "$NAME"
          git clone https://github.com/labsyspharm/lsp-idc-minerva
          rm -rf ./lsp-idc-minerva/*
          cp -R ./dist/* ./lsp-idc-minerva/
          cd ./tlsp-idc-minerva
          git add -A
          git commit -m update
          git push -f
